In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [3]:
def counter(df):
  name =[x for x in globals() if globals()[x] is df][0]
  print(name)
  print("total: ",df.shape[0])
  print("normal: ",(df['attack_a'] ==0).sum())
  print("attack: ",(df['attack_a'] ==1).sum())

In [4]:
header_orig = ["ID","ts_year","ts_month","ts_day","ts_hour","ts_min","ts_second","te_year","te_month",
          "te_day","te_hour","te_min","te_second","duration","Src IP Addr","Dst IP Addr","Src Port","Dst Port","Protocol","_flag1","_flag2",
          "_flag3","_flag4","_flag5","_flag6","fwd","stos","Packets","Bytes","opkt","obyt","_in","out",
          "sas","das","smk","dmk","dtos","_dir","nh","nhb","svln","dvln","ismc","odmc","idmc","osmc",
          "mpls1","mpls2","mpls3","mpls4","mpls5","mpls6","mpls7","mpls8","mpls9","mpls10","cl","sl",
          "al","ra","eng","exid","tr","icmp_dst_ip_b","icmp_src_ip","udp_dst_p","tcp_f_s","tcp_f_n_a",
          "tcp_f_n_f","tcp_f_n_r","tcp_f_n_p","tcp_f_n_u","tcp_dst_p","tcp_src_dst_f_s","tcp_src_tftp",
          "tcp_src_kerb","tcp_src_rpc","tcp_dst_p_src","smtp_dst","udp_p_r_range","p_range_dst",
          "udp_src_p_0","class","attack_a"]

In [5]:
blaster_worm = pd.read_csv('BLASTER_WORM_v2.csv',names=header_orig)

In [55]:
fragmentation["_flag2"].value_counts()

.    807349
A    500868
      19230
Name: _flag2, dtype: int64

In [6]:
fragmentation = pd.read_csv('FRAGMENTATION_v2.csv',names=header_orig)

In [7]:
http_flood = pd.read_csv('HTTP_FLOOD_v2.csv',names = header_orig)

In [8]:
icmp_flood = pd.read_csv('ICMP_FLOOD_v2.csv',names=header_orig)

In [9]:
reaper_flood = pd.read_csv('REAPER_WORM_v2.csv',names = header_orig)

In [10]:
red_worm = pd.read_csv('RED_WORM_v2.csv',names=header_orig)

In [11]:
udp_flood = pd.read_csv('UDP_FLOOD_v2.csv',names=header_orig)

In [12]:
land_flood = pd.read_csv('LAND_ATTACK_v2.csv',names=header_orig)

In [13]:
smurf = pd.read_csv('SMURF_v2.csv',names=header_orig)

In [14]:
scanning = pd.read_csv('SCANNING_SPREAD_v2.csv',names=header_orig)

In [15]:
spam = pd.read_csv('SPAM_v2.csv',names=header_orig)

In [16]:
syn_flood = pd.read_csv('SYN_FLOOD.csv',names=header_orig)

In [17]:
litnet_raw=[blaster_worm, fragmentation,http_flood,icmp_flood, reaper_flood,red_worm,udp_flood,land_flood,smurf,scanning,spam,syn_flood]

In [19]:
def custom_summary(dataset_list):
    for df in dataset_list:
        counter(df)
        print("----------------------------------------")

In [20]:
custom_summary(litnet_raw)

blaster_worm
total:  3119478
normal:  3095187
attack:  24291
----------------------------------------
fragmentation
total:  1327447
normal:  1326970
attack:  477
----------------------------------------
http_flood
total:  4109117
normal:  4086158
attack:  22959
----------------------------------------
icmp_flood
total:  4407202
normal:  4336095
attack:  71107
----------------------------------------
reaper_flood
total:  4673030
normal:  4671854
attack:  1176
----------------------------------------
red_worm
total:  5637310
normal:  4381608
attack:  1255702
----------------------------------------
udp_flood
total:  630124
normal:  536541
attack:  93583
----------------------------------------
land_flood
total:  4032845
normal:  3980428
attack:  52417
----------------------------------------
smurf
total:  4407202
normal:  4336095
attack:  71107
----------------------------------------
scanning
total:  6687
normal:  455
attack:  6232
----------------------------------------
spam
total:  1240708
normal:  1239961
attack:  747
----------------------------------------
syn_flood
total:  6012524
normal:  4432508
attack:  1580016
----------------------------------------

In [21]:
import matplotlib.pyplot as plt
from sklearn import preprocessing

In [21]:
CIDDS_int_1=pd.read_csv('CIDDS_int_1.csv')

In [31]:
CIDDS_int_2=pd.read_csv('CIDDS_int_2.csv')

In [39]:
CIDDS_int_4.attackType.value_counts()

---    6175897
Name: attackType, dtype: int64

In [25]:

print(blaster_worm.dtypes)

ID                int64
ts_year           int64
ts_month          int64
ts_day            int64
ts_hour           int64
                  ...
udp_p_r_range    object
p_range_dst      object
udp_src_p_0      object
class            object
attack_a          int64
Length: 85, dtype: object

In [36]:
CIDDS_int_3=pd.read_csv('CIDDS_int_3.csv')

In [37]:
CIDDS_int_4=pd.read_csv('CIDDS_int_4.csv')

In [27]:
CIDDS_int_raw=[CIDDS_int_1,CIDDS_int_2,CIDDS_int_3,CIDDS_int_4]

In [48]:
CIDDS_int_1["attackID"].unique()

array(['---', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33',
       '34', '35', '36', '37', '38', '39', '40', '41', '42'], dtype=object)

In [49]:
CIDDS_int_2["attackID"].unique()

array(['---', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52',
       '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63',
       '64', '65', '66', '67', '68', '69', '70'], dtype=object)

In [50]:
CIDDS_int_3["attackID"].unique()

array(['---'], dtype=object)

In [51]:
CIDDS_int_4["attackID"].unique()

array(['---'], dtype=object)

In [64]:
CIDDS_int_1["attackID"].value_counts()

---    7010897
18      295302
16      261003
42      184040
31      144845
26       74471
23       72788
4        72063
6        37134
3        37118
9        37057
28       36306
37       26114
29       19732
11       17401
14       13807
17       13338
34       12909
20       11748
19       11672
40       11609
12       11526
7         9586
1         7657
21        5113
5         4948
8         4424
2         1927
27         680
13         513
36         494
24         466
41         379
39         364
32         335
10         311
33         307
22         295
38         267
35         263
25         201
15          64
30          46
Name: attackID, dtype: int64

In [87]:
CIDDS_int_2["attackID"].value_counts()

---    8515329
53      516299
60      333627
44      261169
45      224960
63      148641
46      111720
59      110484
49       17629
48       13600
67       13426
47       13420
51       11968
68        5632
50        4589
43        2143
55         757
61         705
52         607
62         574
57         522
58         510
64         480
56         427
65         373
69         360
66         359
70         240
54         183
Name: attackID, dtype: int64

In [61]:
CIDDS_combo = pd.concat([CIDDS_int_1, CIDDS_int_2])
unique_combinations = CIDDS_combo[['attackID', 'class']].drop_duplicates()

In [62]:
unique_combinations.head(138)

         attackID     class
0             ---    normal
77              1    victim
78              1  attacker
334144          2  attacker
356906          2    victim
...           ...       ...
8935933        68    victim
10279077       69  attacker
10279824       69    victim
10294284       70  attacker
10294285       70    victim

[138 rows x 2 columns]

In [68]:
unique_combinations.shape

(138, 2)

In [71]:
unique_combinations["attackID"].value_counts()

35     2
43     2
49     2
48     2
47     2
      ..
19     2
62     1
64     1
55     1
---    1
Name: attackID, Length: 71, dtype: int64

In [78]:
attack_id_counts = unique_combinations['attackID'].value_counts()

# Step 2: Filter IDs that occur exactly once
ids_occurring_once = attack_id_counts[attack_id_counts == 1].index

# Step 3: Select 'class' for these IDs
selected_values_ID = unique_combinations[unique_combinations['attackID'].isin(ids_occurring_once)]['attackID']
selected_values_class = unique_combinations[unique_combinations['attackID'].isin(ids_occurring_once)]['class']
# Print the result
print(selected_values_ID,selected_values_class)

0          ---
5378030     55
6439160     62
6743658     64
Name: attackID, dtype: object 0            normal
5378030    attacker
6439160    attacker
6743658    attacker
Name: class, dtype: object

In [66]:
def counter_cidds(df):
  name =[x for x in globals() if globals()[x] is df][0]
  print(name)
  print("total: ",df.shape[0])
  print("normal: ",(df['attackID'] =="---").sum())
  print("attack: ",(df['attackID'] !="---").sum())

In [67]:
custom_summary(CIDDS_int_raw)

CIDDS_int_1
total:  8451520
normal:  7010897
attack:  1440623
----------------------------------------
CIDDS_int_2
total:  10310733
normal:  8515329
attack:  1795404
----------------------------------------
CIDDS_int_3
total:  6349783
normal:  6349783
attack:  0
----------------------------------------
CIDDS_int_4
total:  6175897
normal:  6175897
attack:  0
----------------------------------------

In [79]:
columns_list = CIDDS_int_1.columns.tolist()
print(columns_list)

['Date first seen', 'Duration', 'Proto', 'Src IP Addr', 'Src Pt', 'Dst IP Addr', 'Dst Pt', 'Packets', 'Bytes', 'Flows', 'Flags', 'Tos', 'class', 'attackType', 'attackID', 'attackDescription']

In [95]:
selected_values = CIDDS_int_2.loc[CIDDS_int_2["attackID"]==55,"class"]

In [96]:
print(selected_values)

Series([], Name: class, dtype: object)

In [98]:
has_duplicates = CIDDS_combo.duplicated().any()
print(has_duplicates)

True

In [104]:
duplicates = CIDDS_int_1.duplicated()
print(duplicates)

0          False
1          False
2          False
3          False
4           True
           ...
8451515    False
8451516    False
8451517    False
8451518    False
8451519    False
Length: 8451520, dtype: bool

In [101]:
CIDDS_int_1.head()

,Date first seen,Duration,Proto,Src IP Addr,Src Pt,Dst IP Addr,Dst Pt,Packets,Bytes,Flows,Flags,Tos,class,attackType,attackID,attackDescription
0,2017-03-15 00:01:16.632,0.000,TCP,192.168.100.5,445,192.168.220.16,58844.0,1,108,1,.AP...,0,normal,---,---,---
1,2017-03-15 00:01:16.552,0.000,TCP,192.168.100.5,445,192.168.220.15,48888.0,1,108,1,.AP...,0,normal,---,---,---
2,2017-03-15 00:01:16.551,0.004,TCP,192.168.220.15,48888,192.168.100.5,445.0,2,174,1,.AP...,0,normal,---,---,---
3,2017-03-15 00:01:16.631,0.004,TCP,192.168.220.16,58844,192.168.100.5,445.0,2,174,1,.AP...,0,normal,---,---,---
4,2017-03-15 00:01:16.552,0.000,TCP,192.168.100.5,445,192.168.220.15,48888.0,1,108,1,.AP...,0,normal,---,---,---

In [106]:
for df in litnet_raw:
    has_duplicates = df.duplicated().any()
    print(has_duplicates)

False
False
False
False
False
False
False
False
False
False
False
False

In [107]:
CIDDS_int_1_nodup = CIDDS_int_1[~CIDDS_int_1.duplicated()]

In [108]:
CIDDS_int_2_nodup = CIDDS_int_2[~CIDDS_int_2.duplicated()]

In [109]:
CIDDS_int_3_nodup = CIDDS_int_3[~CIDDS_int_3.duplicated()]

In [110]:
CIDDS_int_4_nodup = CIDDS_int_4[~CIDDS_int_4.duplicated()]

In [112]:
def custom_summary_cidds(list_df):
    for df in list_df:
        counter_cidds(df)
        print("----------------------------------------")

In [113]:
nodup_Cidds=[CIDDS_int_1_nodup,CIDDS_int_2_nodup,CIDDS_int_3_nodup,CIDDS_int_4_nodup]

In [114]:
custom_summary_cidds(nodup_Cidds)

CIDDS_int_1_nodup
total:  8248753
normal:  7010112
attack:  1238641
----------------------------------------
CIDDS_int_2_nodup
total:  10036995
normal:  8514291
attack:  1522704
----------------------------------------
CIDDS_int_3_nodup
total:  6347711
normal:  6347711
attack:  0
----------------------------------------
CIDDS_int_4_nodup
total:  6173941
normal:  6173941
attack:  0
----------------------------------------

In [115]:
for df in nodup_Cidds:
    has_duplicates = df.duplicated().any()
    print(has_duplicates)

False
False
False
False

In [116]:
for df in nodup_Cidds:
    has_missing_values = df.isna().any().any()
    print(has_missing_values)

False
False
False
False

In [117]:
for df in litnet_raw:
    has_missing_values = df.isna().any().any()
    print(has_missing_values)

False
False
False
False
False
False
False
False
False
False
False
False

In [118]:
CIDDS_int_1_nodup["attackID"].unique()

array(['---', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33',
       '34', '35', '36', '37', '38', '39', '40', '41', '42'], dtype=object)

In [119]:
CIDDS_int_2_nodup["attackID"].unique()

array(['---', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52',
       '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63',
       '64', '65', '66', '67', '68', '69', '70'], dtype=object)

In [120]:
CIDDS_int_3_nodup["attackID"].unique()

array(['---'], dtype=object)

In [121]:
CIDDS_int_4_nodup["attackID"].unique()

array(['---'], dtype=object)

In [122]:
CIDDS_int_2_nodup["attackID"].value_counts()

---    8514291
53      434248
60      281691
44      219962
45      189049
63      124582
59       93370
46       93304
49       16232
48       13412
67       13379
47       13302
51       11762
68        5631
50        4589
43        2126
55         744
61         697
52         603
62         571
57         522
58         509
64         480
56         427
65         371
66         359
69         359
70         240
54         183
Name: attackID, dtype: int64

In [128]:
filtered_rows = CIDDS_int_2_nodup[CIDDS_int_2_nodup['attackID'] == "49"]
filtered_rows.head(10)

,Date first seen,Duration,Proto,Src IP Addr,Src Pt,Dst IP Addr,Dst Pt,Packets,Bytes,Flows,Flags,Tos,class,attackType,attackID,attackDescription
3434519,2017-03-23 14:12:22.664,0.0,ICMP,192.168.210.2,0,192.168.220.15,0.0,1,42,1,......,0,victim,portScan,49,nmap args: -sS -T 3
3434520,2017-03-23 14:12:22.668,0.0,ICMP,192.168.220.15,0,192.168.210.3,8.0,1,42,1,......,0,attacker,portScan,49,nmap args: -sS -T 3
3434521,2017-03-23 14:12:22.664,0.0,ICMP,192.168.220.15,0,192.168.210.2,8.0,1,42,1,......,0,attacker,portScan,49,nmap args: -sS -T 3
3434522,2017-03-23 14:12:22.672,0.0,ICMP,192.168.210.3,0,192.168.220.15,0.0,1,42,1,......,0,victim,portScan,49,nmap args: -sS -T 3
3434523,2017-03-23 14:12:22.663,0.0,ICMP,192.168.210.1,0,192.168.220.15,0.0,1,42,1,......,0,victim,portScan,49,nmap args: -sS -T 3
3434524,2017-03-23 14:12:22.664,0.0,ICMP,192.168.220.15,0,192.168.210.5,8.0,1,42,1,......,0,attacker,portScan,49,nmap args: -sS -T 3
3434525,2017-03-23 14:12:22.668,0.0,ICMP,192.168.210.5,0,192.168.220.15,0.0,1,42,1,......,0,victim,portScan,49,nmap args: -sS -T 3
3434526,2017-03-23 14:12:22.663,0.0,ICMP,192.168.220.15,0,192.168.210.1,8.0,1,42,1,......,0,attacker,portScan,49,nmap args: -sS -T 3
3434527,2017-03-23 14:12:24.018,0.0,TCP,192.168.220.15,36714,192.168.210.7,80.0,1,54,1,.A....,0,attacker,portScan,49,nmap args: -sS -T 3
3434528,2017-03-23 14:12:24.018,0.0,TCP,192.168.220.15,36714,192.168.210.8,443.0,1,58,1,....S.,0,attacker,portScan,49,nmap args: -sS -T 3

In [127]:
CIDDS_int_2_nodup["attackType"].value_counts()

---           8514291
dos           1436206
portScan        80433
bruteForce       3342
pingScan         2723
Name: attackType, dtype: int64

In [129]:
CIDDS_int_2_nodup["Tos"].unique()

array([  0,  32, 192,  16])

In [130]:
CIDDS_combo_nodup = pd.concat([CIDDS_int_1_nodup, CIDDS_int_2_nodup])
unique_combinations = CIDDS_combo[['attackID', 'attackType']].drop_duplicates()

In [131]:
unique_combinations.head(138)

         attackID  attackType
0             ---         ---
77              1    portScan
334144          2    portScan
727519          3         dos
855821          4         dos
...           ...         ...
7600419        66    pingScan
7621116        67    portScan
8918665        68    portScan
10279077       69    pingScan
10294284       70  bruteForce

[71 rows x 2 columns]

In [133]:
unique_combinations["attackType"].value_counts()

portScan      24
dos           18
pingScan      16
bruteForce    12
---            1
Name: attackType, dtype: int64

In [20]:
for df in litnet_raw:
    print(df["class"].value_counts())

none         3095187
tcp_w32_w      24291
Name: class, dtype: int64
none     1326970
udp_0        477
Name: class, dtype: int64
none      4086158
http_f      22959
Name: class, dtype: int64
none        4336095
icmp_smf      59479
icmp_f        11628
Name: class, dtype: int64
none            4671854
udp_reaper_w       1176
Name: class, dtype: int64
none         4381608
tcp_red_w    1255702
Name: class, dtype: int64
none     536541
udp_f     93583
Name: class, dtype: int64
none        3980428
tcp_land      52417
Name: class, dtype: int64
none        4336095
icmp_smf      59479
icmp_f        11628
Name: class, dtype: int64
tcp_udp_win_p    6232
none              455
Name: class, dtype: int64
none      1239961
smtp_b        747
Name: class, dtype: int64
none         4432508
tcp_syn_f    1580016
Name: class, dtype: int64

In [27]:
print(type("2017-03-23 14:12:22.664"))

<class 'str'>

In [29]:
CIDDS_int_1['Date first seen'] = pd.to_datetime(CIDDS_int_1['Date first seen'])

0         2017-03-15 00:01:16.632
1         2017-03-15 00:01:16.552
2         2017-03-15 00:01:16.551
3         2017-03-15 00:01:16.631
4         2017-03-15 00:01:16.552
                    ...
8451515   2017-03-21 23:59:56.083
8451516   2017-03-21 23:59:57.037
8451517   2017-03-21 23:59:56.920
8451518   2017-03-21 23:59:58.299
8451519   2017-03-21 23:59:58.298
Name: Date first seen, Length: 8451520, dtype: datetime64[ns]

In [30]:
print(CIDDS_int_1.dtypes)

Date first seen      datetime64[ns]
Duration                    float64
Proto                        object
Src IP Addr                  object
Src Pt                        int64
Dst IP Addr                  object
Dst Pt                      float64
Packets                       int64
Bytes                        object
Flows                         int64
Flags                        object
Tos                           int64
class                        object
attackType                   object
attackID                     object
attackDescription            object
dtype: object

In [61]:
CIDDS_int_1["class"].value_counts()

normal      7010897
attacker     746230
victim       694393
Name: class, dtype: int64

In [56]:
for df in litnet_raw:
    any_nulls = df.isna().any().any()
    print(any_nulls)

False
False
False
False
False
False
False
False
False
False
False
False

In [60]:
type(fragmentation.name())

AttributeError: 'DataFrame' object has no attribute 'name'