In [1]:
# importing pandas library
import pandas as pd

In [2]:
# importing numpy library
import numpy as np

In [3]:
import warnings

# Ignore all warnings
warnings.filterwarnings("ignore")

In [4]:
# adding headers
header_orig = ["ID","ts_year","ts_month","ts_day","ts_hour","ts_min","ts_second","te_year","te_month",
          "te_day","te_hour","te_min","te_second","duration","Src IP Addr","Dst IP Addr","Src Port","Dst Port","Protocol","_flag1","_flag2",
          "_flag3","_flag4","_flag5","_flag6","fwd","stos","Packets","Bytes","opkt","obyt","_in","out",
          "sas","das","smk","dmk","dtos","_dir","nh","nhb","svln","dvln","ismc","odmc","idmc","osmc",
          "mpls1","mpls2","mpls3","mpls4","mpls5","mpls6","mpls7","mpls8","mpls9","mpls10","cl","sl",
          "al","ra","eng","exid","tr","icmp_dst_ip_b","icmp_src_ip","udp_dst_p","tcp_f_s","tcp_f_n_a",
          "tcp_f_n_f","tcp_f_n_r","tcp_f_n_p","tcp_f_n_u","tcp_dst_p","tcp_src_dst_f_s","tcp_src_tftp",
          "tcp_src_kerb","tcp_src_rpc","tcp_dst_p_src","smtp_dst","udp_p_r_range","p_range_dst",
          "udp_src_p_0","class","attack_a"]

In [5]:
# reading blaster_worm files
blaster_worm = pd.read_csv('BLASTER_WORM_v2.csv',names=header_orig)

# sampling 58000 rows 
blaster_worm_sample = blaster_worm.sample(58000)
blaster_worm_sample['attack_name'] = 'Blaster Worm'

# deleting the baster_worm dataset to save space
del blaster_worm
%reset -f blaster_worm

Don't know how to reset  blaster_worm, please run `%reset?` for details

In [6]:
# reading fragmentation csv
fragmentation = pd.read_csv('FRAGMENTATION_v2.csv',names=header_orig)
fragmentation_sample = fragmentation.sample(58000)
fragmentation_sample['attack_name'] = 'Fragmentation'

# deleting to save space
del fragmentation 
%reset -f fragmentation

Don't know how to reset  fragmentation, please run `%reset?` for details

In [7]:
http_flood = pd.read_csv('HTTP_FLOOD_v2.csv',names = header_orig)

http_flood_sample = http_flood.sample(58000)
http_flood_sample['attack_name'] = 'HTTP Flood'

del http_flood
%reset -f http_flood

Don't know how to reset  http_flood, please run `%reset?` for details

In [8]:
icmp_flood = pd.read_csv('ICMP_FLOOD_v2.csv',names=header_orig)

icmp_flood_sample = icmp_flood.sample(58000)
icmp_flood_sample['attack_name']='ICMP Flood'

del icmp_flood
%reset -f icmp_flood

Don't know how to reset  icmp_flood, please run `%reset?` for details

In [9]:
reaper_flood = pd.read_csv('REAPER_WORM_v2.csv',names = header_orig)

reaper_flood_sample = reaper_flood.sample(58000)
reaper_flood_sample['attack_name']='Reaper Flood'

del reaper_flood
%reset -f reaper_flood

Don't know how to reset  reaper_flood, please run `%reset?` for details

In [10]:
red_worm = pd.read_csv('RED_WORM_v2.csv',names=header_orig)

red_worm_sample = red_worm.sample(58000)
red_worm_sample['attack_name'] = 'Red Worm'

del red_worm
%reset -f red_worm

Don't know how to reset  red_worm, please run `%reset?` for details

In [11]:
udp_flood = pd.read_csv('UDP_FLOOD_v2.csv',names=header_orig)

udp_flood_sample = udp_flood.sample(58000)
udp_flood_sample['attack_name'] = 'UDP Flood'

del udp_flood
%reset -f udp_flood

Don't know how to reset  udp_flood, please run `%reset?` for details

In [12]:
def tcp_flags(elem):
    if elem in ("U", "A", "P", "R", "S", "F"):  #flag is set
        return 1
    else:
        return 0

# U --> urgent 
# A --> Acknowledgment 
# P --> Push
# R --> Reset
# S --> Synchronise
# F --> Finish

In [13]:
def modifying_dataset(df):
    # only extracting the necessary columns 
    df = df[['ts_year', 'ts_month', 'ts_day', 'ts_hour', 'ts_min',
       'ts_second', 'te_year', 'te_month', 'te_day', 'te_hour', 'te_min',
       'te_second','duration',"Src IP Addr","Dst IP Addr","Src Port","Dst Port","Protocol","_flag1","_flag2",
          "_flag3","_flag4","_flag5","_flag6",'class','attack_name']]
    
    # one hot encoding the flags and renaming to U,A,P,R,S,F for better understanding
    flags_df = df[["_flag1", "_flag2", "_flag3", "_flag4", "_flag5", "_flag6"]]
    df[["_flag1", "_flag2", "_flag3", "_flag4", "_flag5", "_flag6"]] = flags_df.applymap(tcp_flags)
    column_mapping = {'_flag1':'U','_flag2':'A','_flag3':'P','_flag4':'R','_flag5':'S','_flag6':'F'}
    df.rename(columns = column_mapping, inplace = True)
    
    # changing class values to none and victim
    df['class'] = np.where(df['class'] != 'none', 'victim', df['class'])
    return df

Guide to what each column name means
1. ts_year, ts_month, ts_day - the date on which the attack started
2. ts_hour, ts_min, ts_second - the time at which the attack started
3. te_year, te_month, te_day - the date on which the attack ended
4. te_hour, te_min, te_second - the time at which the attack ended 
5. duration - the time the attack lasted for 
6. Src IP Addr, Dst IP Addr - the source and destination ip address respectively
7. Src Port, Dst Port - the source and destination port address respectively 
8. Protocol - protocol of the network connection (ex- TCP, UDP, ICMP etc)
9. _ flags are renamed to U, A, P, R, S, F
10. class - attack or no 
11. attack_name - name of the attack

In [14]:
modifying_dataset(blaster_worm_sample)

,ts_year,ts_month,ts_day,ts_hour,ts_min,ts_second,te_year,te_month,te_day,te_hour,...,Dst Port,Protocol,U,A,P,R,S,F,class,attack_name
1663459,2020,1,25,3,46,9,2020,1,25,3,...,3340,TCP,0,0,0,0,1,0,none,Blaster Worm
439870,2020,1,25,3,44,28,2020,1,25,3,...,8000,TCP,0,0,0,0,1,0,none,Blaster Worm
191799,2020,1,25,3,44,11,2020,1,25,3,...,666,TCP,0,0,0,0,1,0,none,Blaster Worm
3028880,2020,1,25,3,48,41,2020,1,25,3,...,3181,TCP,0,0,0,0,1,0,none,Blaster Worm
1230614,2020,1,25,3,46,33,2020,1,25,3,...,49184,TCP,0,1,0,0,1,1,none,Blaster Worm
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
442850,2020,1,25,3,44,29,2020,1,25,3,...,18799,UDP,0,0,0,0,0,0,none,Blaster Worm
1090274,2020,1,25,3,45,20,2020,1,25,3,...,30000,TCP,0,0,0,0,1,0,none,Blaster Worm
774366,2020,1,25,3,44,55,2020,1,25,3,...,4444,TCP,0,0,0,0,1,0,victim,Blaster Worm
94346,2020,1,25,3,44,5,2020,1,25,3,...,111,TCP,0,0,0,0,1,0,none,Blaster Worm
758772,2020,1,25,3,44,53,2020,1,25,3,...,23,TCP,0,0,0,0,1,0,none,Blaster Worm

In [15]:
modifying_dataset(fragmentation_sample)

,ts_year,ts_month,ts_day,ts_hour,ts_min,ts_second,te_year,te_month,te_day,te_hour,...,Dst Port,Protocol,U,A,P,R,S,F,class,attack_name
972027,2019,11,15,5,12,39,2019,11,15,5,...,0,ICMP,0,0,0,0,0,0,none,Fragmentation
433433,2019,11,15,5,10,39,2019,11,15,5,...,33264,TCP,0,0,0,0,1,0,none,Fragmentation
339843,2019,11,15,5,10,17,2019,11,15,5,...,53,UDP,0,0,0,0,0,0,none,Fragmentation
1210236,2019,11,15,5,13,33,2019,11,15,5,...,1254,TCP,0,1,0,0,0,0,none,Fragmentation
1225356,2019,11,15,5,13,36,2019,11,15,5,...,443,TCP,0,1,0,0,0,0,none,Fragmentation
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
868113,2019,11,15,5,12,15,2019,11,15,5,...,3478,UDP,0,0,0,0,0,0,none,Fragmentation
659595,2019,11,15,5,11,29,2019,11,15,5,...,52286,TCP,0,1,1,0,0,0,none,Fragmentation
927307,2019,11,15,5,12,30,2019,11,15,5,...,3790,TCP,0,0,0,0,1,0,none,Fragmentation
961263,2019,11,15,5,12,37,2019,11,15,5,...,58540,TCP,0,1,1,0,0,0,none,Fragmentation
70169,2019,11,15,5,9,16,2019,11,15,5,...,123,UDP,0,0,0,0,0,0,none,Fragmentation

In [16]:
modifying_dataset(http_flood_sample)

,ts_year,ts_month,ts_day,ts_hour,ts_min,ts_second,te_year,te_month,te_day,te_hour,...,Dst Port,Protocol,U,A,P,R,S,F,class,attack_name
3993398,2020,1,16,9,33,48,2020,1,16,9,...,40441,TCP,0,1,0,0,0,0,none,HTTP Flood
1030769,2020,1,16,9,30,12,2020,1,16,9,...,778,ICMP,0,0,0,0,0,0,none,HTTP Flood
2029068,2020,1,16,9,31,26,2020,1,16,9,...,41345,TCP,0,1,1,0,0,0,none,HTTP Flood
2145720,2020,1,16,9,31,33,2020,1,16,9,...,50983,TCP,0,1,1,0,0,0,none,HTTP Flood
3943438,2020,1,16,9,33,44,2020,1,16,9,...,768,ICMP,0,0,0,0,0,0,none,HTTP Flood
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4004125,2020,1,16,9,33,50,2020,1,16,9,...,443,TCP,0,1,0,0,0,0,none,HTTP Flood
670111,2020,1,16,9,29,46,2020,1,16,9,...,771,ICMP,0,0,0,0,0,0,none,HTTP Flood
403184,2020,1,16,9,29,26,2020,1,16,9,...,53,UDP,0,0,0,0,0,0,none,HTTP Flood
2225440,2020,1,16,9,31,39,2020,1,16,9,...,40916,TCP,0,1,0,0,1,0,none,HTTP Flood
683442,2020,1,16,9,29,48,2020,1,16,9,...,443,TCP,0,1,1,0,0,0,none,HTTP Flood

In [17]:
modifying_dataset(icmp_flood_sample)

,ts_year,ts_month,ts_day,ts_hour,ts_min,ts_second,te_year,te_month,te_day,te_hour,...,Dst Port,Protocol,U,A,P,R,S,F,class,attack_name
1858484,2020,1,31,15,36,48,2020,1,31,15,...,34962,UDP,0,0,0,0,0,0,none,ICMP Flood
1056653,2020,1,31,15,35,57,2020,1,31,15,...,49764,UDP,0,0,0,0,0,0,none,ICMP Flood
3533961,2020,1,31,15,38,52,2020,1,31,15,...,42090,TCP,0,0,0,0,0,0,none,ICMP Flood
2397942,2020,1,31,15,37,29,2020,1,31,15,...,8619,UDP,0,0,0,0,0,0,none,ICMP Flood
2168891,2020,1,31,15,37,14,2020,1,31,15,...,53,UDP,0,0,0,0,0,0,none,ICMP Flood
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1832506,2020,1,31,15,36,46,2020,1,31,15,...,443,TCP,0,0,0,0,0,0,none,ICMP Flood
1420491,2020,1,31,15,36,19,2020,1,31,15,...,4903,TCP,0,0,0,0,0,0,none,ICMP Flood
3980517,2020,1,31,15,39,20,2020,1,31,15,...,38298,UDP,0,0,0,0,0,0,none,ICMP Flood
1966220,2020,1,31,15,36,57,2020,1,31,15,...,20519,UDP,0,0,0,0,0,0,none,ICMP Flood
3343203,2020,1,31,15,38,39,2020,1,31,15,...,80,TCP,0,0,0,0,0,0,none,ICMP Flood

In [18]:
modifying_dataset(reaper_flood_sample)

,ts_year,ts_month,ts_day,ts_hour,ts_min,ts_second,te_year,te_month,te_day,te_hour,...,Dst Port,Protocol,U,A,P,R,S,F,class,attack_name
4056652,2019,10,2,7,53,13,2019,10,2,7,...,53695,TCP,0,0,0,0,1,0,none,Reaper Flood
4142579,2019,10,2,7,53,18,2019,10,2,7,...,12106,UDP,0,0,0,0,0,0,none,Reaper Flood
2091688,2019,10,2,7,51,9,2019,10,2,7,...,50011,TCP,0,1,1,0,0,0,none,Reaper Flood
4371898,2019,10,2,7,53,31,2019,10,2,7,...,63763,TCP,0,1,1,0,0,0,none,Reaper Flood
1170216,2019,10,2,7,50,10,2019,10,2,7,...,49174,TCP,0,1,0,1,1,0,none,Reaper Flood
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1415962,2019,10,2,7,50,23,2019,10,2,7,...,52755,UDP,0,0,0,0,0,0,none,Reaper Flood
2030011,2019,10,2,7,51,4,2019,10,2,7,...,443,TCP,0,1,1,0,0,0,none,Reaper Flood
1517191,2019,10,2,7,50,31,2019,10,2,7,...,34567,TCP,0,0,0,0,1,0,none,Reaper Flood
3438444,2019,10,2,7,52,33,2019,10,2,7,...,443,TCP,0,1,1,0,1,0,none,Reaper Flood
2661212,2019,10,2,7,51,44,2019,10,2,7,...,53,UDP,0,0,0,0,0,0,none,Reaper Flood

In [19]:
modifying_dataset(red_worm_sample)

,ts_year,ts_month,ts_day,ts_hour,ts_min,ts_second,te_year,te_month,te_day,te_hour,...,Dst Port,Protocol,U,A,P,R,S,F,class,attack_name
1390139,2020,1,30,20,32,25,2020,1,30,20,...,45284,TCP,0,1,0,0,1,0,none,Red Worm
1141414,2020,1,30,20,32,11,2020,1,30,20,...,21073,TCP,0,1,0,0,1,0,none,Red Worm
1555986,2020,1,30,20,32,33,2020,1,30,20,...,24471,TCP,0,1,0,0,1,0,victim,Red Worm
3165691,2020,1,30,20,34,3,2020,1,30,20,...,47295,TCP,0,1,0,0,1,0,none,Red Worm
607952,2020,1,30,20,31,41,2020,1,30,20,...,46822,TCP,0,1,0,0,1,0,none,Red Worm
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4212101,2020,1,30,20,34,59,2020,1,30,20,...,53908,TCP,0,1,0,0,1,0,victim,Red Worm
683106,2020,1,30,20,31,47,2020,1,30,20,...,13788,TCP,0,1,0,0,1,0,victim,Red Worm
2844267,2020,1,30,20,33,44,2020,1,30,20,...,29892,TCP,0,1,0,0,1,0,none,Red Worm
4073643,2020,1,30,20,34,53,2020,1,30,20,...,30827,TCP,0,1,0,0,1,0,none,Red Worm
5054178,2020,1,30,20,35,46,2020,1,30,20,...,27449,TCP,0,1,0,0,1,0,none,Red Worm

In [20]:
modifying_dataset(udp_flood_sample)

,ts_year,ts_month,ts_day,ts_hour,ts_min,ts_second,te_year,te_month,te_day,te_hour,...,Dst Port,Protocol,U,A,P,R,S,F,class,attack_name
433551,2019,3,6,21,17,26,2019,3,6,21,...,53,UDP,0,0,0,0,0,0,none,UDP Flood
549093,2019,3,6,21,18,19,2019,3,6,21,...,53,UDP,0,0,0,0,0,0,none,UDP Flood
158156,2019,3,6,21,15,14,2019,3,6,21,...,59316,UDP,0,0,0,0,0,0,none,UDP Flood
316834,2019,3,6,21,16,30,2019,3,6,21,...,53,UDP,0,0,0,0,0,0,none,UDP Flood
260764,2019,3,6,21,16,2,2019,3,6,21,...,53,UDP,0,0,0,0,0,0,victim,UDP Flood
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
363151,2019,3,6,21,16,50,2019,3,6,21,...,59964,UDP,0,0,0,0,0,0,none,UDP Flood
471688,2019,3,6,21,17,43,2019,3,6,21,...,51406,UDP,0,0,0,0,0,0,none,UDP Flood
367903,2019,3,6,21,16,53,2019,3,6,21,...,33852,UDP,0,0,0,0,0,0,none,UDP Flood
127400,2019,3,6,21,15,1,2019,3,6,21,...,46562,UDP,0,0,0,0,0,0,none,UDP Flood
556608,2019,3,6,21,18,22,2019,3,6,21,...,53,UDP,0,0,0,0,0,0,none,UDP Flood

In [21]:
datasets = [blaster_worm_sample,fragmentation_sample,http_flood_sample,icmp_flood_sample,reaper_flood_sample,red_worm_sample,udp_flood_sample]

In [22]:
all_attacks_dataset = pd.concat(datasets, axis=0, ignore_index=True)

In [23]:
all_attacks_dataset

,ID,ts_year,ts_month,ts_day,ts_hour,ts_min,ts_second,te_year,te_month,te_day,...,tcp_src_kerb,tcp_src_rpc,tcp_dst_p_src,smtp_dst,udp_p_r_range,p_range_dst,udp_src_p_0,class,attack_a,attack_name
0,1663460,2020,1,25,3,46,9,2020,1,25,...,normal,normal,normal,normal,normal,normal,normal,none,0,Blaster Worm
1,439871,2020,1,25,3,44,28,2020,1,25,...,normal,normal,normal,normal,normal,normal,normal,none,0,Blaster Worm
2,191800,2020,1,25,3,44,11,2020,1,25,...,normal,normal,normal,normal,normal,normal,normal,none,0,Blaster Worm
3,3028881,2020,1,25,3,48,41,2020,1,25,...,normal,normal,normal,normal,normal,normal,normal,none,0,Blaster Worm
4,1230615,2020,1,25,3,46,33,2020,1,25,...,normal,normal,normal,normal,normal,normal,normal,none,0,Blaster Worm
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405995,363152,2019,3,6,21,16,50,2019,3,6,...,normal,normal,normal,normal,normal,normal,normal,none,0,UDP Flood
405996,471689,2019,3,6,21,17,43,2019,3,6,...,normal,normal,normal,normal,normal,normal,normal,none,0,UDP Flood
405997,367904,2019,3,6,21,16,53,2019,3,6,...,normal,normal,normal,normal,normal,normal,normal,none,0,UDP Flood
405998,127401,2019,3,6,21,15,1,2019,3,6,...,normal,normal,normal,normal,normal,normal,normal,none,0,UDP Flood
405999,556609,2019,3,6,21,18,22,2019,3,6,...,normal,normal,normal,normal,normal,normal,normal,none,0,UDP Flood